<div id="<%= dom_id note %>" class="w-full sm:w-auto my-5 space-y-5 bg-amber-100">
  <div>
    <%= note.user.email_address %>
    <strong class="block font-medium mb-1">Title:
    <%= note.title %>
    </strong>
    <%= note.body %>
  </div>
   <div>
    <strong class="block font-medium mb-1">Dated :</br>
    <%= time_tag note.created_at, "data-local": "time", "data-format": "%B %e, %Y %l:%M %P" %></br>
    <%= time_tag note.updated_at, "data-local": "time", "data-format": "%B %e, %Y %l:%M %P" %>
    </strong>
  </div>
</div>
