<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <%= render "layouts/flash" %>
      <h1>Dashboard</h1>
      <%#= local_time(time) %>
      <hr>
      <p>Welcome to <%= Current.user.email_address%></p>
      <p><%= link_to "View Notes", notes_path, class: "w-full sm:w-auto text-center rounded-md my-0.5 px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer"  %></p>
      <p><%= link_to "Discussions", discussions_path, class: "w-full sm:w-auto text-center rounded-md my-0.5 px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %></p>
      <p><%= button_to "log out", session_path, method: :delete, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %></p>
    </div>
  </div>
  <%#= session.inspect %>
<hr>
  <%= form_with url: friendships_path, method: :post, local: true do |form| %>
    <div class="mb-4">
      <%= form.collection_select :friend_id, User.where.not(id: Current.user.id), :id, :email_address, prompt: "Add a Friend", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
    </div>
    <div>
      <%= form.submit "Add Friend", class: "px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500" %>
    </div>
  <% end %>
</div>